<h1>{{ recipe.title}}</h1>
<ul>
<li>
    <h2>Author: <a href="/author/{{recipe.author.id}}/"> {{ recipe.author.name}}</a></h2>
</li>
<li>
    <h3>Description:</h3>
    <p>{{ recipe.description }}</p>
</li>
<li>
    <h3>Time required:</h3> {{ recipe.time_required }}
</li>
<li>
    <h3>Instructions</h3>
    <p>{{ recipe.instructions }}</p>
</li>
</ul>

{% if request.user.author.id == recipe.author.id or request.user.is_staff %}
<a href="/edit/{{recipe.id}}">Edit Recipe</a>
{% endif %}

{% if request.user.is_authenticated %}
{% if recipe not in user.author.favorite.all %}
    <a href="/add_favorite/{{recipe.id}}">Favorite</a>
{% else %}
    <a href="/unadd_favorite/{{recipe.id}}">UnFavorite</a>
{% endif %}
{% endif %}

<a href="/">Home</a>